<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-enhance"
    version="3.0.0">
    <name>EnhanceCordovaPlugin</name>

    <js-module src="www/enhance.js" name="Enhance">
        <clobbers target="Enhance" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Enhance">
                <param name="android-package" value="co.enhance.cordova.enhance.CDVEnhance"/>
            </feature>
        </config-file>

        <source-file src="src/android/CDVEnhance.java" target-dir="src/co/enhance/cordova/enhance"/>
        <lib-file src="src/android/Enhance.jar"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
          <feature name="Enhance">
            <param name="ios-package" value="CDVEnhance" />
          </feature>
        </config-file>

        <header-file src="src/ios/CDVEnhance.h" target-dir="EnhancePlugin"/>
        <source-file src="src/ios/CDVEnhance.m" target-dir="EnhancePlugin"/>
        <header-file src="src/ios/FglEnhance.h" target-dir="EnhancePlugin"/>
        <header-file src="src/ios/FglEnhancePlus.h" target-dir="EnhancePlugin"/>
        <header-file src="src/ios/FglEnhanceInAppPurchases.h" target-dir="EnhancePlugin"/>
        <header-file src="src/ios/Enhance.h" target-dir="EnhancePlugin"/>
        <header-file src="src/ios/EnhanceInAppPurchases.h" target-dir="EnhancePlugin"/>
        <header-file src="src/ios/EnhanceSettings.h" target-dir="EnhancePlugin"/>
        <source-file src="src/ios/libconnector.a" framework="true" target-dir="EnhancePlugin"/>
    </platform>

</plugin>
